# Tables > bb_bids 
DATABASE_URL="postgresql://postgres:結婚周年@localhost:5432/postgres"
NODE_ENV=development

# 開放給 auth跟drizzle
AUTH_DRIZZLE_URL=https://authjs.dev/getting-started/adapters/drizzle
NODE_ENV=development

# 如果沒有下面這些，nextjs 就不會開放權限給 google 登入
# https://authjs.dev/guides/environment-variables
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
